---
import type { HTMLTag } from "astro/types";
import type { Post } from "@/lib/interfaces";
import { resolvePostHref, isExternalPost } from "@/lib/blog-helpers";

interface Props {
	post: Post;
	as?: HTMLTag;
}

const { post, as: Tag = "div" } = Astro.props;
const postLink = resolvePostHref(post);
const external = isExternalPost(post);
---

<article class="post-preview-row">
	<div class="post-preview-main">
		<Tag class="post-preview-title">
			<a
				href={postLink}
				class="site-page-link"
				data-astro-prefetch={!external ? "" : undefined}
				target={external ? "_blank" : undefined}
				rel={external ? "nofollow noopener" : undefined}
			>
				{post.Title}
			</a>
		</Tag>
	</div>
</article>
