---
import type { Page, GetStaticPaths } from "astro";
import PageLayout from "@/layouts/Base.astro";
import PostPreview from "@/components/listing-layout/PostPreview.astro";
import PostCardGallery from "@/components/listing-layout/PostCardGallery.astro";
import Pagination from "@/components/listing-layout/Paginator.astro";
import { getAllPosts } from "@/lib/notion/client";
import type { Post } from "src/lib/interfaces";
import {
	HIDE_UNDERSCORE_SLUGS_IN_LISTS,
	NUMBER_OF_POSTS_PER_PAGE,
	LISTING_VIEW,
} from "@/constants";
import { getNavLink } from "@/lib/blog-helpers";

export const getStaticPaths = (async ({ paginate }) => {
	const posts = await getAllPosts();

	// Apply the underscore slug filter if HIDE_UNDERSCORE_SLUGS_IN_LISTS is true
	const filteredPosts = HIDE_UNDERSCORE_SLUGS_IN_LISTS
		? posts.filter((post) => !post.Slug.startsWith("_"))
		: posts;
	return paginate(filteredPosts, { pageSize: NUMBER_OF_POSTS_PER_PAGE });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<Post>;
}

const { page } = Astro.props;

const meta = {
	title: "Posts",
	description: "Read my collection of posts and the things that interest me",
	ogImage: "/og-image/postsindex---index.png",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: getNavLink(page.url.prev),
			text: "Previous Posts",
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: getNavLink(page.url.next),
			text: "Next Posts",
		},
	}),
};
---

<PageLayout meta={meta}>
	<div class="content-shell">
		<h1 class="title mb-8">Posts</h1>
		<section aria-label="Blog post list">
			{
				LISTING_VIEW === "gallery" ? (
					<div class="gallery-grid">
						{page.data.map((post) => (
							<PostCardGallery post={post} as="h2" />
						))}
					</div>
				) : (
					<ul class="minimal-post-list">
						{page.data.map((post) => (
							<li>
								<PostPreview post={post} as="h2" />
							</li>
						))}
					</ul>
				)
			}
			<Pagination {...paginationProps} />
		</section>
	</div>
</PageLayout>
