---
import PageLayout from "@/layouts/Base.astro";
import { getNavLink } from "@/lib/blog-helpers";
import { getCollectionsWDesc, slugify } from "@/utils";

const meta = {
	title: "All Collections",
	description: "A list of all the collections for my posts",
	ogImage: "/og-image/collectionsindex---index.png",
};

const collections = await getCollectionsWDesc();
---

<PageLayout meta={meta}>
	<div class="content-shell">
		<h1 class="title mb-6">Collections</h1>
		<ul class="minimal-post-list">
			{
				collections.map(({ name }) => (
					<li>
						<a
							class="site-page-link minimal-link-row"
							href={getNavLink("/collections/" + slugify(name) + "/")}
							title={`View posts within collection: ${name}`}
							data-astro-prefetch
							aria-label={`View posts within collection: ${name}`}
						>
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</PageLayout>
