---
import { siteInfo } from "@/site.config";
import { getNavLink } from "@/lib/blog-helpers";

const displayTitle = siteInfo.title || "Blog";
---

<header id="main-header" class="site-header">
	<a
		href={getNavLink("/")}
		class="site-brand"
		aria-current={Astro.url.pathname === "/" ? "page" : false}
	>
		{displayTitle}
	</a>
</header>
