---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "@/components/auto-added-sections/TOCHeading.astro";

interface Props {
	headings: Array<MarkdownHeading>;
}

const { headings } = Astro.props;
const toc = generateToc(headings);
---

<aside class="toc-container no-rss" aria-label="Table of contents">
	<p class="text-textColor mb-2 text-sm font-bold">Contents</p>
	<nav class="toc-content">
		<ul class="text-sm">
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ul>
	</nav>
</aside>
